 <div class="container d-flex justify-content-center">
   <h4><strong>{{departingCity}}</strong> to <strong>{{arrivingCity}}</strong></h2>
   </div>

<div class="container px-4 flight-results">
  <div class="row results">
    <div class="col">
      {{Airliner.name}}
    </div>
    <div class="col">
      {{takeOffTime}} - {{landingTime}}
    </div>
    <div class="col">
      {{price}}
    </div>
    <a href="/flight/{{id}}" class="col-2 book-flight">
      Book flight
    </a>
  </div>
 </div>
