<div class="container mytickets gx-5 gy-5">
  <div class="row row1 gx-5">
    <div class="col-sm-6 col-md-3">
      Destination:
      <br />
      <strong>{{Flight.departingCity}} to {{Flight.arrivingCity}}</strong>
    </div>
    <div class="col-sm-6 col-md-3">
      Name of Passenger:
      <br />
      <strong>{{Customer.firstName}}&nbsp;{{Customer.lastName}}</strong>
    </div>
    <div class="col-sm-6 col-md-3">
      Departure Date:
      <br />
      <strong>{{Flight.departingDate}}</strong>
    </div>
    <div class="col-sm-6 col-md-3">
      Purchase Date:
      <br />
      <strong>{{order_date}}</strong>
    </div>
  </div>
  <div class="row row2 gy-5">
    <div class="col-sm-3 col-md-4">
      <strong>{{Flight.Airliner.name}}</strong>
    </div>
    <div class="col-sm-3 col-md-4">
      <strong>{{Flight.takeOffTime}} - {{Flight.landingTime}}</strong>
    </div>
    <div class="col-sm-3 col-md-4">
      <strong>{{Flight.price}}</strong>
    </div>
  </div>
  <div class="row gy-5">
    <div class="col-sm-12 col-md-6 col-lg-3">
      Has Baggage:
      <strong> {{baggage}}</strong>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      Round trip:
      <strong>{{roundtrip}}</strong>
    </div>
    <button
      data-ticketid={{id}}
      class="col-sm-12 col-md-6 col-lg-3 cancel-flight"
    >
      Cancel Flight
    </button>
    <a
      href="/api/ticket/download-itinerary/{{id}}"
      class="col-sm-12 col-md-6 col-lg-3 download-itinerary"
    >
      Download Itinerary
    </a>
  </div>
</div>

<script src="/js/cancel-flight.js"></script>