<header>
  <div class="circular--portrait"><img
      src="/img/airplane.png"
      alt="airplane"
    /></div>
  <h1>Golden Flights</h1>
  <a class="my-tickets" href="/mytickets">My Tickets</a>
  <button class="no-button" id="logout">logout</button>
</header>
 <div class="container d-flex justify-content-center">
   <h2 class="flight-information"><strong>Put in information for your flight</h2>
   </div>

<div class="container px-4">
  <div class="row results">
    <div class="col">
      {{flight.Airliner.name}}
    </div>
    <div class="col">
      {{flight.takeOffTime}} - {{flight.landingTime}}
    </div>
    <div class="col">
      {{flight.price}}
    </div>
  </div>
 </div>

<form data-flightid="{{flight.id}}" class="ticket-info" >
 <div class="form-check">
  <input class="form-check-input roundTrip" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Check if your flight is round trip.
  </label>
</div><br>
<div class="form-check">
  <input class="form-check-input baggage" type="checkbox" value="" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked">
    Check if you have baggage.
  </label>
</div>
<p class="ticketDate">{{format_date}}</p>
<input type="submit" name="" id="">
</form>

<script src="/js/ticket.js"></script>


